.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.formStack {
  max-width: 25vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-evenly; */
  font-size: calc(10px + 2vmin);
  color: white;
}
#select-label{
	margin-bottom: 10px;
}
#chi-square{
	width: 400px;
	
}
.validationTable{
	margin-left: 2vw;	
	background-color: #282c34;
	width: 56vw !important;
	margin-left: 20%;
	
}
.table{
	background-color: #282c34;
	
}
.validation-buttons{
	width: 60%;
	margin-top: 15px;
	display: flex;
	gap: 10%;
	margin-left: 20vw;
	margin-bottom: 15px;
}
#validationButton{
 width: 25vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav {
  width: 100%;
  display: block;
  background-color: #20232a;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: calc(10px + 2vmin);
}

.Nav > h1,h2,h3 {
  margin: 0;
}

.row {
  display: flex;
  min-height: calc(100vh - 100px);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 50%;
  text-align: center;
}

.formContainer {
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  padding: 30px
}

.resultContainer {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

.linkToValidation {
  position: absolute;
  top: 0;
  right: 0;
  color:#61dafb;
  text-decoration: underline;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.numberHistory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.numberListDiv {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.numberListBox {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #212121;
  color: white;
}
.numberListBox:hover {
  border: 1px solid white;
}

.flexDivY {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.flexDivY > * {
  width: 100%;
}

.flexDivX {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.flexDivX > * {
  width: 100%;
}

.validationForm {
  display:block;
  text-align: center;
  min-height: 60vh;
  padding-bottom: 30px;
}


.summaryStats {
  padding: 0px 60px;
}

@media (max-width: 426px) {
  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  .Nav {
    height: 80px;
    line-height: 40px;
  }
  .formContainer {
    width: 100%;
  }
  .formStack {
    max-width: none;
  }
  .resultContainer {
    min-height: 400px;
  }
  .flexDivX {
    flex-direction: column;
  }
  .summaryStats {
    padding: 0 10;
  }
}
